body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    color: orangered;
}

/* Carousel Styles */
.carousel {
    width: 50%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.carousel input {
    display: none;
}

.carousel-slide {
    display: flex;
    width: 500%;
    transition: transform 25s ;
}

.carousel-item {
    width: 20%;
    text-align: center;
    padding: 10px;
}

.carousel-slide img {
    width: 100%;
    border-radius: 10px;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
}

.carousel-caption {
    margin-top: 10px;
    color: orangered;
    font-size: 16px;
}

/* Navigation buttons */
.carousel-buttons {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons label {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

/* Position slides */
#carousel1:checked ~ .carousel-slide {
    transform: translateX(0%);
}

#carousel2:checked ~ .carousel-slide {
    transform: translateX(-100%);
}

#carousel3:checked ~ .carousel-slide {
    transform: translateX(-200%);
}

#carousel4:checked ~ .carousel-slide {
    transform: translateX(-300%);
}

#carousel5:checked ~ .carousel-slide {
    transform: translateX(-400%);
}

/* Dots */
.carousel-dots {
    text-align: center;
    margin-top: 10px;
}

.carousel-dots label {
    cursor: pointer;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 5px;
    transition: background-color 0.3s ease;
}

input:checked + .carousel-dots label {
    background-color: #333;
} 
h4{
    color: white;
}
h2{
    color: white;
}
ul{
    color: white;
}